body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family:verdana Tahoma Sans-Serif Arial Times New Roman;
	font-size:14px;
	color:Navy;
	background-color: #F8F6F7;
}
