<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <!--<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">-->
      <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
      <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
        <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <!--<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
      </sectionGroup>
    </sectionGroup>
    <!--</sectionGroup>-->
  </configSections>
 <appSettings> 
    <!--<add key="ConnectionString" value="server=10.132.2.60;UID=food;PWD=food;Initial Catalog=NANActual"/>--> 
    <add key="connect_warehouse" value="server=172.16.11.130;UID=sa;Password=Mpwlc@123;Initial Catalog=Intergrated_MP_STORAGE" /> 
    <add key="connect_warehouse_Traning" value="server=10.131.0.20;UID=mpwlc14;Password=mpwlc2k14;Initial Catalog=Warehouse" /> 
    <add key="UpdateDepositerforWHRKharif2016.Update_WHR_CSMSPdy2016" value="http://www.mpsc.mp.nic.in/csms/Update_WHR_CSMSPdy2016.asmx" /> 
    <add key="UpdateCSMSDOforWLCGatepass.Update_gatepass_CSMS_Issue" value="http://www.mpsc.mp.nic.in/csms/Update_gatepass_CSMS_Issue.asmx" /> 
    <add key="UpdateWHRforCSMSIssue.Update_WHR_CSMS_Issue" value="http://mpsc.mp.nic.in/csms/Update_WHR_CSMS_Issue.asmx" /> 
    <add key="UpdateDepositerforWHRWheat2017.UpdateWhr_Wheat2017" value="http://www.mpsc.mp.nic.in/csms/UpdateWhr_Wheat2017.asmx" /> 
    <add key="HostedServer" value="egrains" /> 
    <add key="GoogleAPIKey" value="" /> 
    <add key="aspnet:MaxHttpCollectionKeys" value="100000" /> 
    <add key="UpdateDepositorForOtherCmd.UpdateWHR_Others" value="http://www.mpsc.mp.nic.in/csms/UpdateWHR_Others.asmx" /> 
</appSettings>
  <!-- <connectionStrings> -->
    <!-- <add name="mycon" connectionString="Data Source=172.16.11.130; user id=integrated_usr; password=Mpwlc@123; Initial Catalog=MPWLCDB;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 7000;Connection Timeout = 60;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="mpwhpayroll" connectionString="Data Source=172.16.11.130; user id=integrated_usr; password=Mpwlc@123; Initial Catalog=MPWLCDB;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 7000;Connection Timeout = 60;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="TribalGodownConString" connectionString="Data Source=172.16.11.130; user id=sa; password=Mpwlc@123; Initial Catalog=Intergrated_MP_STORAGE;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 7000;Connection Timeout = 60;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="FCIConnectionString" connectionString="Data Source=172.16.11.130; user id=sa; password=Mpwlc@123; Initial Catalog=Intergrated_MP_STORAGE;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 7000;Connection Timeout = 60;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="JVSGodownConString" connectionString="Data Source=172.16.11.130; user id=sa; password=Mpwlc@123; Initial Catalog=JointVentureScheme2018;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 7000;Connection Timeout = 60;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="MPWLCInspection" connectionString="Data Source=172.16.11.130; user id=sa; password=Mpwlc@123; Initial Catalog=MPWLCInspection;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 7000;Connection Timeout = 60;" providerName="System.Data.SqlClient" /> -->
    <!-- <add name="ConstrMoisture" connectionString="Data Source=172.16.11.130; user id=sa; password=Mpwlc@123; Initial Catalog=WLCGodownGatePass;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 7000;Connection Timeout = 60;" providerName="System.Data.SqlClient" /> -->
    <!-- <add connectionString="Data Source=172.16.11.130;Initial Catalog=Intergrated_MP_STORAGE;User ID=integrated_usr;Password=Mpwlc@123" name="TribalGodownConString" providerName="System.Data.SqlClient" /> -->
    <!-- <add connectionString="Data Source=172.16.11.130;Initial Catalog=Intergrated_MP_STORAGE;User ID=integrated_usr;Password=Mpwlc@123" name="FCIConnectionString" providerName="System.Data.SqlClient" /> -->
    <!-- <add connectionString="Data Source=172.16.11.130;Initial Catalog=MPSCSC;User ID=integrated_usr;Password=Mpwlc@123" name="MPSCSCConnectionString" providerName="System.Data.SqlClient" /> -->
    
    <!-- <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" /> -->
    <!-- <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" /> -->

    <!-- <add name="rpturl" connectionString="Data Source=10.115.196.22;" providerName="http://10.115.196.22/ReportServer" /> -->
    <!-- <add name="rpturl_whrLicenses" connectionString="10.115.196.22;" providerName="http://10.115.196.22/ReportServer" /> -->
    <!-- <add name="WLCGodownGatePass" connectionString="server=172.16.11.130;UID=integrated_usr;Password=Mpwlc@123;Initial Catalog=WLCGodownGatePass" /> -->
  <!-- </connectionStrings> -->
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->


    


   

  
  
 
</configuration>