<%@ Master Language="C#" AutoEventWireup="true" CodeFile="main.master.cs" Inherits="main" %>

<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MP Warehousing</title>

    <style type="text/css">
        header, nav, section, article, aside, footer {
            display: block;
        }
    </style>

    <%--Changes on 12-05-2026--%>
    <style>
        /* 1. Hide the top Google Translate frame/banner */
        .goog-te-banner-frame.skiptranslate, .goog-te-gadget-icon {
            display: none !important;
        }

        body {
            top: 0px !important;
        }

        /* 2. Hide the Google logo and branding in the dropdown */
        .goog-te-gadget {
            font-family: 'Arial', sans-serif !important;
            color: transparent !important; /* Hides the "Powered by" text */
        }

            .goog-te-gadget .goog-te-combo {
                color: #333 !important; /* Keeps the dropdown text visible */
                padding: 8px;
                border-radius: 5px;
                border: 1px solid #ccc;
                background-color: #fff;
            }

        /* 3. Remove the tooltip popups when hovering over translated text */
        #goog-gt-tt, .goog-te-balloon-frame {
            display: none !important;
        }

        .goog-text-highlight {
            background: none !important;
            box-shadow: none !important;
        }
    </style>
    <style>
        /* Dropdown ke andar ke text ko hamesha readable rakhne ke liye */
        .goog-te-combo {
            text-transform: none !important;
        }
        /* Targeted fix for the iframe class you mentioned */
        .VIpgJd-ZVi9od-ORHb-OEVmcd,
        .goog-te-banner-frame,
        #goog-gt-tt,
        .goog-te-balloon-frame,
        #\:2\.container {
            display: none !important;
            visibility: hidden !important;
        }

        /* Prevent the page from shifting down */
        body {
            top: 0px !important;
        }

        /* Remove the hover highlight effect */
        .goog-text-highlight {
            background: none !important;
            box-shadow: none !important;
        }
    </style>
    <%--END--%>


    <!--[if lt IE 9]>
   <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
   </script>
<![endif]-->

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="assets/css/bootstrap-theme.css" rel="stylesheet" type="text/css">

    <!-- font awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/css/custome.css" rel="stylesheet" type="text/css">




    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <form id="form1" runat="server">
        <header>
            <div class="top_bar">
                <div class="container">
                    <span class="pull-left" style="width: 800px;">
                        <asp:Repeater ID="rptMarquee" runat="server">
                            <HeaderTemplate>
                                <marquee direction="left" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();">
                            </HeaderTemplate>
                            <ItemTemplate>
                                <a href='<%#Eval("Link")%>' target="_blank" class="red"><%#Eval("Title") %></a> | 
                            </ItemTemplate>
                            <FooterTemplate>
                                </marquee>
                            </FooterTemplate>
                        </asp:Repeater>

                    </span>

                    <span class="pull-right">
                        <asp:Label ID="lblVCount" class="label label-danger" runat="server"></asp:Label>
                        |
                <a><strong><i class="fa fa-calendar"></i><%= DateTime.Now.ToString("dd MMMM yyyy")%> |&nbsp;<i class="fa fa-clock-o"></i>&nbsp;<label id="lblTime"></label></strong></a>
                    </span>

                </div>
            </div>

            <div class="mdsliding">
                <div class="row-fluid">
                    <div class="col-md-4 ">
                        <div class="mdbox">
                            <a href="../Warehouse/login.aspx">
                                <span class="mdicon">
                                    <img src="assets/img/icons/logo.png" />
                                    <h5>WHMS</h5>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mdbox">
                            <a href="../Warehouse/JointVentureScheme/JointVentureSchemeApp.aspx">
                                <span class="mdicon">
                                    <img src="assets/img/icons/jvs.png" />
                                    <h5>JVS</h5>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mdbox">
                            <a href="../Warehouse/TribalGodown/Tribalgodownapp.aspx">
                                <span class="mdicon">
                                    <img src="assets/img/icons/godown.png" />
                                    <h5>Tribal Godown</h5>
                                </span>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="col-md-4">
                        <div class="mdbox">
                            <a href="../Warehouse/Inspections/Default.aspx">

                                <span class="mdicon">
                                    <img src="assets/img/icons/inspection.png" />
                                    <h5>Inspection</h5>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mdbox">
                            <a href="../Warehouse/Special_PV/Special_PV_Default.aspx">

                                <span class="mdicon">
                                    <img src="assets/img/icons/inspection.png" />
                                    <h5>Special PV</h5>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="mdbox">
                            <a href="/DSC_Versions.aspx">
                                <span class="mdicon">
                                    <img src="assets/img/icons/signature.png" />
                                    <h5>DSC</h5>
                                </span>
                            </a>
                        </div>
                    </div>

                    <%-- <div class="col-md-4">
                        <div class="mdbox">
                            <a href="../Warehouse/useful_file/NewVersonDSC20012022.exe">
                                <span class="mdicon">
                                    <img src="assets/img/icons/signature.png" />
                                    <h5>New Version Digital Sign</h5>
                                </span>
                            </a>
                        </div>
                    </div>--%>

                    <%--<div class="col-md-4">
                        <div class="mdbox">
                            <a href="/Paybillmgm/Default.aspx">
                                <span class="mdicon">
                                    <img src="assets/img/icons/Payroll2.png" />
                                    <h5>Payroll System</h5>
                                </span>
                            </a>
                        </div>
                    </div>--%>
                </div>

                <div class="col-md-12 text-center">
                    <br />
                    <a href="EmpCorner.aspx" class="btn btn-default thumbnail  col-md-6 center-block">More...</a><br>
                </div>
            </div>
            <a href="#" class="trigger"><i class="fa fa-plus-circle"></i>View Module</a>


            <%--<div class="logo_bar">
                <div class="container">
                    <div class="pull-left">
                        <a href="Default.aspx">
                            <img src="assets/img/logo_with_text.png" class="img-responsive logo" /></a>
                    </div>

                    <div id="google_translate_element"></div>
                    <nav class="pull-right">
                        <ul class="list-unstyled icon_bar">
                            <li>
                                <a href="OrgStructure.aspx">
                                    <span class="icon">
                                        <img src="assets/img/profile.png">
                                    </span>
                                    <p>Profile</p>
                                </a>
                            </li>
                            <li>
                                <a href="Network.aspx">
                                    <span class="icon">
                                        <img src="assets/img/icons/network.png">
                                    </span>
                                    <p>Network</p>
                                </a>
                            </li>
                            <li>
                                <a href="Sevices.aspx">
                                    <span class="icon">
                                        <img src="assets/img/icons/services.png">
                                    </span>
                                    <p>Services</p>
                                </a>
                            </li>

                            <li>
                                <a href="BusinessReport.aspx">
                                    <span class="icon">
                                        <img src="assets/img/icons/Business.png">
                                    </span>
                                    <p>Business</p>
                                </a>
                            </li>
                            <li>
                                <a href="Quality.aspx">
                                    <span class="icon">
                                        <img src="assets/img/icons/quality.png">
                                    </span>
                                    <p>Quality</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>--%>

            <div class="logo_bar">
                <div class="container">
                    <div class="row" style="display: flex; align-items: center;">

                        <div class="col-md-3 col-sm-12">
                            <a href="Default.aspx">
                                <img src="assets/img/logo_with_text.png" class="img-responsive logo" alt="Logo" />
                            </a>
                        </div>

                        <div class="col-md-3 col-sm-6 text-center">
                            <div id="google_translate_element"></div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <nav class="pull-right">
                                <ul class="list-inline icon_bar" style="margin-bottom: 0;">
                                    <li class="text-center" style="padding: 0 10px;">
                                        <a href="OrgStructure.aspx" class="text-decoration-none">
                                            <span class="icon" style="display: block;">
                                                <img src="assets/img/profile.png" width="30">
                                            </span>
                                            <p style="margin: 0; font-size: 12px; color: #333;">Profile</p>
                                        </a>
                                    </li>
                                    <li class="text-center" style="padding: 0 10px;">
                                        <a href="Network.aspx" class="text-decoration-none">
                                            <span class="icon" style="display: block;">
                                                <img src="assets/img/icons/network.png" width="30">
                                            </span>
                                            <p style="margin: 0; font-size: 12px; color: #333;">Network</p>
                                        </a>
                                    </li>
                                    <li class="text-center" style="padding: 0 10px;">
                                        <a href="Sevices.aspx" class="text-decoration-none">
                                            <span class="icon" style="display: block;">
                                                <img src="assets/img/icons/services.png" width="30">
                                            </span>
                                            <p style="margin: 0; font-size: 12px; color: #333;">Services</p>
                                        </a>
                                    </li>
                                    <li class="text-center" style="padding: 0 10px;">
                                        <a href="BusinessReport.aspx" class="text-decoration-none">
                                            <span class="icon" style="display: block;">
                                                <img src="assets/img/icons/Business.png" width="30">
                                            </span>
                                            <p style="margin: 0; font-size: 12px; color: #333;">Business</p>
                                        </a>
                                    </li>
                                    <li class="text-center" style="padding: 0 10px;">
                                        <a href="Quality.aspx" class="text-decoration-none">
                                            <span class="icon" style="display: block;">
                                                <img src="assets/img/icons/quality.png" width="30">
                                            </span>
                                            <p style="margin: 0; font-size: 12px; color: #333;">Quality</p>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </header>

        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Brand -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="Default.aspx">Home <span class="sr-only">(current)</span></a></li>
                        <%--<li><a href="News.aspx">News</a></li>--%>
                        <%--<li><a href="Gallery.aspx">Gallery</a></li>--%>
                        <%--<li><a href="PhotoGallery.aspx">Gallery</a></li> --%>
                        <%--<li><a href="#">New Updates</a></li>--%>
                        <li><a href="Contact.aspx">Contact Us</a></li>
                        <li><a href="/Login/Login.aspx">Login</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <asp:ContentPlaceHolder ID="banner" runat="server">
        </asp:ContentPlaceHolder>


        <asp:ContentPlaceHolder ID="body" runat="server">
        </asp:ContentPlaceHolder>


        <asp:ContentPlaceHolder ID="widget" runat="server">
        </asp:ContentPlaceHolder>




        <footer>
            <ul class="list-inline">
                <li><a href="Default.aspx">Home</a></li>
                |
          <li><a href="Network.aspx">Network</a></li>
                |
          <li><a href="InfoProfile.aspx">Profile</a></li>
                |
          <li><a href="BusinessReport.aspx">Business</a></li>
                <%-- |
          <li><a href="News.aspx">News</a></li>--%>
                |
         <%-- <li><a href="#">Future Plan</a></li> |--%>
                <li><a href="Sevices.aspx">Services</a></li>
                <%--|
          <li><a href="Tender.aspx">Tender</a></li>--%>
                |
          <%--<li><a href="#">Feedback</a></li> |--%>
                <li><a href="Quality.aspx">Quality</a></li>
                <%-- |
          <li><a href="Tariff.aspx">Tariff</a></li>--%>
                |
         <%-- <li><a href="#">FAQ's</a></li> |--%>
                <li><a href="Contact.aspx">Contact</a></li>

            </ul>
            <hr class="line-white-center" />
            <small>Copyright &copy; 2020 MPWLC - All Rights Reserved | Madhya Pradesh Warehousing and Logistics Corporation </small>
        </footer>





        <!--Java Script -->
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

        <!--[if IE]>

    <link href="assets/css/custom-ie-lt-8.css" rel="stylesheet" />

<![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
  <script type='text/javascript' src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->

        <script type="text/javascript">

            $(document).ready(function () {
                ShowTime();
            });
            function ShowTime() {
                var dt = new Date();
                document.getElementById("lblTime").innerHTML = dt.toLocaleTimeString();
                window.setTimeout("ShowTime()", 1000); // Here 1000(milliseconds) means one 1 Sec  
            }
            $(document).ready(function () {
                $(".trigger").click(function () {
                    $(".mdsliding").toggle("fast");
                    $(this).toggleClass("active");
                    return false;
                });
            });

        </script>

        <%--changes On 12-05-2026--%>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    includedLanguages: 'en,hi',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                    autoDisplay: false
                }, 'google_translate_element');
            }
            // Dropdown fix ke liye naya logic
            $(window).load(function () {
                // Jab dropdown change ho, toh hum check karenge
                $('.goog-te-combo').on('change', function () {
                    var lang = $(this).val();
                    // Agar language Hindi select hui hai toh ensure karein ki wo dikhe
                    if (lang === 'hi') {
                        console.log("Hindi Selected");
                    }
                });

                // Interval check: Kabhi-kabhi Google Translate der se load hota hai
                var checkInterval = setInterval(function () {
                    var combo = document.querySelector('.goog-te-combo');
                    if (combo) {
                        // Agar cookie mein Hindi saved hai par dropdown me nahi dikh raha
                        var langCookie = document.cookie.split('; ').find(row => row.startsWith('googtrans='));
                        if (langCookie && langCookie.includes('/en/hi')) {
                            combo.value = 'en';
                        }
                        clearInterval(checkInterval);
                    }
                }, 500);
            });
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <%--END--%>

        <asp:ContentPlaceHolder ID="script" runat="server">
        </asp:ContentPlaceHolder>
    </form>
</body>
</html>
