<?xml version="1.0"?>
<configuration>
  <!--<mailSettings>
    <smtp deliveryMethod="Network">
      <network host="smtp.gmail.com"
               port="587"
               userName="arctiqglobal@gmail.com"
               password="geetika27"
               enableSsl="true" />

    </smtp>
  </mailSettings>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Update this value to set the max length -->
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="barcodeFontFilePath" value="../assets/fonts/IDAutomationHC39M.ttf"/>
    <add key="barcodeFontSize" value="13"/>
    <add key="IsMySql" value=""/>
    <add key="DataFromInte.AddAnnaxureA" value="http://localhost:50954/Inspections/WebServices/AddAnnaxureA.asmx"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="mycon" connectionString="Data Source=DESKTOP-8DT83MU\SQLEXPRESS; user id=sa; password=mpwlc@123; Initial Catalog=MPWLCDB;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 500;Connection Timeout = 60;" providerName="System.Data.SqlClient"/>-->
    <add name="mycon" connectionString="Data Source=10.115.196.14; user id=mpwlcdb_usr; password=Mp@wlCdB#12; Initial Catalog=MPWLCDB;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 500;Connection Timeout = 60;" providerName="System.Data.SqlClient"/>
	<add name="mpwhpayroll" connectionString="Data Source=10.115.196.14; user id=mpwlcdb_usr; password=Mp@wlCdB#12; Initial Catalog=MPWLCDB;MultipleActiveResultSets=True;Min Pool Size = 5; Max Pool Size = 500;Connection Timeout = 60;" providerName="System.Data.SqlClient"/>


<add key="connect_warehouse" value="server=10.115.196.14;UID=integrated_usr;Password=Mp@*nt*18823;Initial Catalog=Intergrated_MP_STORAGE" />
  
<add key="UpdateDepositerforWHRKharif2016.Update_WHR_CSMSPdy2016" value="http://www.mpsc.mp.nic.in/csms/Update_WHR_CSMSPdy2016.asmx" />
<add key="UpdateCSMSDOforWLCGatepass.Update_gatepass_CSMS_Issue" value="http://www.mpsc.mp.nic.in/csms/Update_gatepass_CSMS_Issue.asmx" />
  <add key="UpdateWHRforCSMSIssue.Update_WHR_CSMS_Issue" value="http://mpsc.mp.nic.in/csms/Update_WHR_CSMS_Issue.asmx" />
		<add key="UpdateDepositerforWHRWheat2017.UpdateWhr_Wheat2017" value="http://www.mpsc.mp.nic.in/csms/UpdateWhr_Wheat2017.asmx" />
		<add key="HostedServer" value="egrains" />
 <add key="GoogleAPIKey" value="" />
<add key="aspnet:MaxHttpCollectionKeys" value="6000" />
<add key="UpdateDepositorForOtherCmd.UpdateWHR_Others" value="http://www.mpsc.mp.nic.in/csms/UpdateWHR_Others.asmx"/>
	</appSettings>
	<connectionStrings>

		<add connectionString="Data Source=10.115.196.14;Initial Catalog=Intergrated_MP_STORAGE;User ID=integrated_usr;Password=Mp@*nt*18823" name="FCIConnectionString" providerName="System.Data.SqlClient" />
   
 <add name="JVSGodownConString" connectionString="Data Source=10.115.196.14;Initial Catalog=JointVentureScheme2018; Persist security info =True; User ID=integrated_usr; pwd=Mp@*nt*18823; " providerName="System.Data.SqlClient" />
	
<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>
<add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'"/>




  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms"/>
    <trace enabled="false" localOnly="true"/>
    <!-- Microsoft IIS version disclosure-->
    <httpRuntime enableVersionHeader="false"/>
    <httpCookies httpOnlyCookies="true"/>
    <sessionState timeout="5" mode="InProc" cookieless="false"/>
    <!--encrypted __VIEWSTATE parameter-->
    <machineKey validation="AES"/>
    <pages viewStateEncryptionMode="Always" buffer="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <!--end  encrypted __VIEWSTATE parameter-->
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <httpHandlers>
      <!--<add path="*" verb="OPTIONS" type="System.Web.DefaultHttpHandler" validate="true"/>-->
      <add path="*" verb="TRACE" type="System.Web.DefaultHttpHandler" validate="true"/>
      <add path="*" verb="HEAD" type="System.Web.DefaultHttpHandler" validate="true"/>
      <add verb="*" path="*.mdb" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" path="*.private" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" path="*.rem" type="System.Web.HttpForbiddenHandler"/>
      <add verb="*" path="*.soap" type="System.Web.HttpForbiddenHandler"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false"/>
    </httpHandlers>
    <!--ASP.NET debugging enabled-->
    <compilation debug="true" targetFramework="4.5">
      <!--end of ASP.NET debugging enabled-->
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
      </buildProviders>
    </compilation>
    <customErrors defaultRedirect="ErrorPage/index.html" mode="Off"/>
  </system.web>
  <system.webServer>
    <!--OPTIONS method is disable-->
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit"/>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
      <clear/>
      <error statusCode="404" path="error404.html"/>
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By"/>
        <remove name="X-Content-Type-Options"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <remove name="Server"/>
        <remove name="X-AspNet-Version"/>
        <add name="X-UA-Compatible" value="IE=EmulateIE9"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <add name="Access-Control-Allow-Headers" value="Access-Control-*, Origin, X-Requested-With, Content-Type, Accept"/>
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS,HEAD,PUT"/>
        <add name="Access-Control-Allow-Credentials" value="true"/>
        <add name="Access-Control-Expose-Headers" value="Content-Length, X-JSON"/>
        <add name="Accept" value="application/json"/>
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>-->
    <directoryBrowse enabled="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.htm"/>
        <add value="index.htm"/>
        <add value="Default.asp"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension="apk" mimeType="application/vnd.android.package-archive"/>
    </staticContent>
  </system.webServer>
</configuration>