<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net48" />
  <package id="FusionCharts.Visualization" version="1.0.0" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.6" targetFramework="net48" />
  <package id="itextsharp.xmlworker" version="5.5.13.6" targetFramework="net48" />
  <package id="Microsoft.ReportViewer.Common" version="10.0.40219.1" targetFramework="net48" />
  <package id="MSOfficeCore.Interop" version="15.0.0" targetFramework="net48" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
</packages>