<%@ Master Language="C#" AutoEventWireup="true" CodeFile="BranchMasters.master.cs" Inherits="MasterPage_BranchMasters" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>MP Warehousing</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="../NEW_CSS/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../NEW_CSS/layout/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="../NEW_CSS/css/style.css" rel="stylesheet" />
   
    <script src="../NEW_CSS/layout/scripts/jquery.min.js"></script>
    <script src="../NEW_CSS/layout/scripts/bootstrap.min.js"></script>
    <script src="../NEW_CSS/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../NEW_CSS/js/jssor.slider-26.9.0.min.js" type="text/javascript"></script>
   <%-- <link href="../NEW_CSS/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../NEW_CSS/layout/styles/bootstrap.min.css" rel="stylesheet" />
    <script src="../NEW_CSS/layout/scripts/jquery.min.js"></script>
    <script src="../NEW_CSS/layout/scripts/bootstrap.min.js"></script>
    <script src="../NEW_CSS/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="../NEW_CSS/js/jssor.slider-26.9.0.min.js" type="text/javascript"></script>--%>
    <script type="text/javascript">

        jQuery(document).ready(function ($) {

            var jssor_1_SlideshowTransitions = [
              { $Duration: 1200, $Zoom: 1, $Easing: { $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad }, $Opacity: 2 },
              { $Duration: 1000, $Zoom: 11, $SlideOut: true, $Easing: { $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
              { $Duration: 1200, $Zoom: 1, $Rotate: 1, $During: { $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Easing: { $Zoom: $Jease$.$Swing, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$Swing }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
              { $Duration: 1000, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Zoom: $Jease$.$InQuint, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
              { $Duration: 1200, x: 0.5, $Cols: 2, $Zoom: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
              { $Duration: 1200, x: 4, $Cols: 2, $Zoom: 11, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InExpo, $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear }, $Opacity: 2 },
              { $Duration: 1200, x: 0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
              { $Duration: 1000, x: -4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $Jease$.$InQuint, $Zoom: $Jease$.$InQuart, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
              { $Duration: 1200, x: -0.6, $Zoom: 1, $Rotate: 1, $During: { $Left: [0.2, 0.8], $Zoom: [0.2, 0.8], $Rotate: [0.2, 0.8] }, $Opacity: 2, $Round: { $Rotate: 0.5 } },
              { $Duration: 1000, x: 4, $Zoom: 11, $Rotate: 1, $SlideOut: true, $Easing: { $Left: $Jease$.$InQuint, $Zoom: $Jease$.$InQuart, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InQuint }, $Opacity: 2, $Round: { $Rotate: 0.8 } },
              { $Duration: 1200, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
              { $Duration: 1000, x: 0.5, y: 0.3, $Cols: 2, $Zoom: 1, $Rotate: 1, $SlideOut: true, $Assembly: 2049, $ChessMode: { $Column: 15 }, $Easing: { $Left: $Jease$.$InExpo, $Top: $Jease$.$InExpo, $Zoom: $Jease$.$InExpo, $Opacity: $Jease$.$Linear, $Rotate: $Jease$.$InExpo }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
              { $Duration: 1200, x: -4, y: 2, $Rows: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Row: 28 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.7 } },
              { $Duration: 1200, x: 1, y: 2, $Cols: 2, $Zoom: 11, $Rotate: 1, $Assembly: 2049, $ChessMode: { $Column: 19 }, $Easing: { $Left: $Jease$.$InCubic, $Top: $Jease$.$InCubic, $Zoom: $Jease$.$InCubic, $Opacity: $Jease$.$OutQuad, $Rotate: $Jease$.$InCubic }, $Opacity: 2, $Round: { $Rotate: 0.8 } }
            ];

            var jssor_1_options = {
                $AutoPlay: 1,
                $Cols: 1,
                $Align: 0,
                $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: jssor_1_SlideshowTransitions,
                    $TransitionsOrder: 1
                },
                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                },
                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,
                    $Rows: 2,
                    $Cols: 6,
                    $SpacingX: 14,
                    $SpacingY: 12,
                    $Orientation: 2,
                    $Align: 156
                }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            /*#region responsive code begin*/

            var MAX_WIDTH = 960;

            function ScaleSlider() {
                var containerElement = jssor_1_slider.$Elmt.parentNode;
                var containerWidth = containerElement.clientWidth;

                if (containerWidth) {

                    var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                    jssor_1_slider.$ScaleWidth(expectedWidth);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }

            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            /*#endregion responsive code end*/
        });
    </script>
    <style>
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(360deg);
            }
        }

        /*jssor slider arrow skin 093 css*/
        .jssora093 {
            display: block;
            position: absolute;
            cursor: pointer;
        }

            .jssora093 .c {
                fill: none;
                stroke: #fff;
                stroke-width: 400;
                stroke-miterlimit: 10;
            }

            .jssora093 .a {
                fill: none;
                stroke: #fff;
                stroke-width: 400;
                stroke-miterlimit: 10;
            }

            .jssora093:hover {
                opacity: .8;
            }

            .jssora093.jssora093dn {
                opacity: .6;
            }

            .jssora093.jssora093ds {
                opacity: .3;
                pointer-events: none;
            }

        /*jssor slider thumbnail skin 101 css*/
        .jssort101 .p {
            position: absolute;
            top: 0;
            left: 0;
            box-sizing: border-box;
            background: #000;
        }

            .jssort101 .p .cv {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 2px solid #000;
                box-sizing: border-box;
                z-index: 1;
            }

        .jssort101 .a {
            fill: none;
            stroke: #fff;
            stroke-width: 400;
            stroke-miterlimit: 10;
            visibility: hidden;
        }

        .jssort101 .p:hover .cv, .jssort101 .p.pdn .cv {
            border: none;
            border-color: transparent;
        }

        .jssort101 .p:hover {
            padding: 2px;
        }

            .jssort101 .p:hover .cv {
                background-color: rgba(0,0,0,6);
                opacity: .35;
            }

            .jssort101 .p:hover.pdn {
                padding: 0;
            }

                .jssort101 .p:hover.pdn .cv {
                    border: 2px solid #fff;
                    background: none;
                    opacity: .35;
                }

        .jssort101 .pav .cv {
            border-color: #fff;
            opacity: .35;
        }

        .jssort101 .pav .a, .jssort101 .p:hover .a {
            visibility: visible;
        }

        .jssort101 .t {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            opacity: .6;
        }

        .jssort101 .pav .t, .jssort101 .p:hover .t {
            opacity: 1;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#accordion').find('.accordion-toggle').click(function () {

                //Expand or collapse this panel
                $(this).next().slideToggle('fast');

                //Hide the other panels
                $(".accordion-content").not($(this).next()).slideUp('fast');

            });
        });
    </script>

    <!-- CSS -->

    <style>
        .accordion-toggle {
            cursor: pointer;
        }

        .accordion-content {
            display: none;
        }

            .accordion-content.default {
                display: block;
            }
    </style>
    <style>
        .container {
            padding-bottom: 10px !important;
            padding-top: 10px !important;
        }
    </style>
</head>
<body oncontextmenu="resturn false">
    <form id="form1" runat="server">
          <cc1:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        </cc1:ToolkitScriptManager>
        <div class="wrapper row0 ">
            <div id="topbar" class="hoc clear">
                <!-- ################################################################################################ -->
                <div class="fl_left">
                    <ul>
                        <li><i class="fa fa-phone"></i>+91 (755) 260 0509</li>
                        <li><i class="fa fa-envelope-o"></i>hompwlc@gmail.com</li>
                    </ul>
                </div>
                <div class="fl_right">
                    <ul>
                        <li><a href="../Default.aspx"><i class="fa fa-lg fa-home"></i></a></li>
                        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>


                        <li><a class="faicon-sitemap" href="sitemap.aspx"><i class="fa fa-sitemap"></i></a></li>
                        <li><a href="#">English</a></li>
                        <li><a href="#">Hindi</a></li>


                    </ul>
                </div>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <div class="wrapper row1 alert-warning">
            <header id="header" class="hoc clear " style="padding-top: 10px!important; padding-bottom: 10px!important;">
                <!-- ################################################################################################ -->
                <div id="logo" class="fl_left">
                    <table>
                        <tr>
                            <td>
                                <img src="../assets/img/logo_with_text.png" style="width: 500px; height: 100px;" /></li>
                                <%--<img src="/images/logo/govt_of_india_logo.png" style="width: 80px; height: 100px;" />--%></td>
                            <%--  <td>
                                <h1><a href="../Default.aspx">MPWLC</a></h1>
                                <br />
                                <strong>Madhya Pradesh</strong></td>--%>
                        </tr>
                    </table>

                </div>
                <div id="quickinfo" class="fl_right">
                    <ul class="nospace inline">
                        <li><i>
                            <asp:Label ID="lblUserName" runat="server"></asp:Label>

                        </i></li>
                        <li>
                            <asp:LinkButton ID="lnkLogout" runat="server" CssClass="red"
                                OnClick="lnkLogout_Click"><i class="fa fa-power-off red" aria-hidden="true"></i> Logout</asp:LinkButton></li>
                    </ul>
                </div>
                <!-- ################################################################################################ -->
            </header>
        </div>

        <div class="wrapper row2  alert-dark">
            <nav id="mainav" class="hoc clear">
                <!-- ################################################################################################ -->
                <ul class="clear">

                    <li><a href="/Branch/Default.aspx">Home</a></li>
                    <li><a href="Employee_Details.aspx">Update Branch Profile</a></li>
                    <%-- <li><a href="../Region/ViewEmployee.aspx">View Employee Details</a>--%>
                    <%--<li><a href="#" class="drop">Employee</a>
                        <ul>
                            <li><a href="Employee_Details.aspx" class="drop">Add Employee Details</a>
                              
                            </li>
                        </ul>
                    </li>--%>
                    <%--<li><a href="/Login/Login.aspx">Log Out</a></li>--%>
                    <%--<li><a href="Rpt_AIDM_Export_to_Excel.aspx">AIDM Report</a></li>
                    <li><a href="/UMS/UniversitiesVCSMSList.aspx">SMS Sent to Universities VC</a></li>
                    <li><a href="#" class="drop">IT Store</a>
                        <ul>
                            <li><a href="InsertCategory.aspx">Insert Category</a></li>
                            <li><a href="InsertSubCategory.aspx">Insert Sub Category</a></li>
                            <li><a href="Rpt_Category_Wise_Master.aspx">Category Wise Sub Cetegory</a></li>

                        </ul>
                    </li>--%>
                </ul>
                <!-- ################################################################################################ -->
            </nav>
        </div>
        <br />
        <div class="container border border-warning">
            <asp:ContentPlaceHolder ID="PM" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <br />
        <div class="wrapper row5">
            <div id="copyright" class="hoc clear">
                <!-- ################################################################################################ -->
                <%-- <p style="text-align: center; font-size: medium; color: antiquewhite;">Copyright &copy; 2017 -  All Rights Reserved - <a style="font-size: medium; color: antiquewhite;" href="http://rajbhavanmp.in/">Raj Bhavan, Madhya Pradesh. </a></p>
                <p style="text-align: center">The desired screen resolution is 1024x768 or above. Site Best Viewed In IE-6+, Mozilla Firefox, Chrome, Safari etc... </p>--%>
                <p style="text-align: center;">
                    MPWLC, Madhya Pradesh-All Rights Reserved&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Website Designed & Developed By <a href="http://mpwarehousing.mp.gov.in/" target="_blank">Madhaya Pradesh Warehousing & Logistics Corporation</a>.&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <%--<p class="text-center"><span class="footer-nic">Copyright ©2017- All Rights Reserved - Raj Bhavan, Madhya Pradesh. Content on this website is published, managed & maintained by Governor's Secretariat Bhopal, Madhya Pradesh. </span></p>--%>
                <p style="text-align: center;">The desired screen resolution is 1024x768 or above. Site Best Viewed In Microsoft IE-6+, Mozilla Firefox, Google Chrome, Safari etc... </p>

                <!-- ################################################################################################ -->
            </div>
        </div>

        <script src="../NEW_CSS/layout/scripts/jquery.mobilemenu.js"></script>
    </form>
</body>
</html>
