<%@ Master Language="C#" AutoEventWireup="true" CodeFile="StateMaster.master.cs"
    Inherits="MasterPage_StateMaster" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <link rel="shortcut icon" href="../images/favicon.ico" />
    <link href="../css/style_new.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../sdmenu/sdmenu.css" />

    <script src="../sdmenu/sdmenu.js" type="text/javascript"></script>

    <title>Welcome to Warehouse Application::</title>

    <script src="../js/allFormValidations.js" type="text/javascript"></script>

    <script type="text/javascript" src="../js/chksql.js"></script>

    <script type="text/javascript" src="../js/MD5.js"></script>

    <script type="text/javascript">
        window.history.forward(0);
    </script>

    <asp:ContentPlaceHolder ID="head" runat="server">
        <script language="JavaScript1.2">
        </script>
    </asp:ContentPlaceHolder>

</head>
<body>
    <form id="form1" runat="server">
        <%--    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>--%>
        <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        </asp:ToolkitScriptManager>

        <div>
            <table width="98%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center" valign="middle" colspan="3">
                        <div class="header-cont" style="box-shadow: 1px 1px 20px">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center" valign="middle" rowspan="5" style="width: 200px">
                                        <img src="../images/mp_logo.gif" width="100px" height="80px" alt="" />
                                    </td>
                                    <td align="center" colspan="2">
                                        <span style="font-size: 15pt; font-weight: bolder; color: Navy">Integrated Information
                                        System for Foodgrains Management</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 5px" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2">
                                        <span style="font-size: 15pt; font-weight: bolder; color: IndianRed">MPWLC STORAGE MODULE</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 5px" colspan="3"></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="2">
                                        <span style="font-size: 10pt; font-weight: bolder; color: Navy; font-style: italic">Welcome,</span>&nbsp;
                                    <asp:Label ID="UxUserName" runat="server" Text="User Name" Font-Bold="true" ForeColor="Navy"
                                        Font-Size="10pt">
                                    </asp:Label>
                                    </td>
                                    <td align="right" style="width: 150px">
                                        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Default2.aspx" Font-Bold="true"
                                            ForeColor="Navy" Font-Size="10pt">Sign Out</asp:HyperLink>&nbsp;&nbsp;&nbsp;
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="left" valign="top">
                        <center>
                            <fieldset style="width: 100%; border: 0px solid navy; margin-top: 90px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-left: 0px">
                                    <tr>
                                        <td align="left" valign="top" style="width: 205px">
                                            <div id="my_menu" class="sdmenu" style="box-shadow: 1px 1px 20px">
                                                <div id="divHome" runat="server" style="width: 200px">
                                                    <span id="spanHome" runat="server">Home</span>
                                                    <%--<asp:HyperLink ID="HyperLink54" runat="server" Width="200px" NavigateUrl="~/StatePages/State_Welcome_Dashboard.aspx">Home</asp:HyperLink>--%>
                                                    <asp:HyperLink ID="hypHome" runat="server" Width="200px" NavigateUrl="~/StatePages/Welcome_Crop_Year_Wise_DashBoard.aspx">Home</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnkgmap" Visible="true" runat="server" Width="200px" NavigateUrl="~/StockPosition_Depot.aspx" Target="_blank">GMap Location Branch</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink8" Visible="true" runat="server" Width="200px" NavigateUrl="~/GioStock_Godown.aspx" Target="_blank">GMap Location godown</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink9" Visible="true" runat="server" Width="200px" NavigateUrl="~/Geo_Stock_with_Branch.aspx" Target="_blank">GMap Location godown with branch</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink10" Visible="true" runat="server" Width="200px" NavigateUrl="~/State_Godown_dtl.aspx" Target="_blank">GMap Location godown Current stock</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink35" runat="server" Width="200px" NavigateUrl="~/StatePages/Welcome_DashBoard.aspx">Stock Position Dashboard</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink36" runat="server" Width="200px" NavigateUrl="~/StatePages/Welcome_Crop_Year_Wise_DashBoard.aspx">Stock Position/Bill Dashboard</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink58" runat="server" Width="200px" NavigateUrl="~/StatePages/JIT_Bill_Process_MPWLCHO_TO-MPSCSCHO.aspx">JIT Bill Process MPWLC HO TO MPSCSC HO</asp:HyperLink>
                                                </div>
                                                <div id="divBillAcc" runat="server" visible="false" style="width: 200px">
                                                    <span id="span3" visible="true" runat="server">Storage Payment</span>
                                                    <asp:HyperLink ID="HyperLink27" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Mark_Updated_RO_EPF_Status.aspx">Mark Uploaded File</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink28" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Update_Updated_RO_EPF_Status.aspx">Update Payment Done Status</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink14" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Download_RO_EPF.aspx">View/Download/Delete EPF</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink15" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Repush_File_Status.aspx">Mark Bill for Failed Payment</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink18" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/RO_Generate_EPF.aspx">Generate NEFT File for Failed Payment</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink17" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Generate_Beneficiary.aspx">Generate Benificiary</asp:HyperLink>

                                                    <asp:HyperLink ID="HyperLink38" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Generate_Beneficiary_For_Hired_Godown.aspx">Generate Benificiary For Hired</asp:HyperLink>

                                                    <asp:HyperLink ID="HyperLink16" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Generate_Beneficiary_By_Branch.aspx">Delete Wrong Benificiary</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink19" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/Accounting/Delete_RO_DSC.aspx">Delete RM/Mgr Account DSC</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink20" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Invalid_Account_RO_Generate_EPF_.aspx">Re-Generate EPF for Failed Payment(Invalid Accounts)</asp:HyperLink>


                                                </div>
                                                <div id="divvac1lacmt" runat="server" style="width: 200px; background-color: #4c4545">
                                                    <span id="span2" runat="server">Vacant Storage Capacity Reports</span>
                                                    <asp:HyperLink ID="Hypvacrpt" runat="server" Width="200px" NavigateUrl="~/StatePages/ReportViewer_Vacant_Storage_Capacity_State.aspx">Vacant Storage Capacity </asp:HyperLink>
                                                    <asp:HyperLink ID="btnViewCompalint" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/View_Godown_Compalint.aspx">View Private Godown Complaint</asp:HyperLink>
                                                    <asp:HyperLink ID="Hyp1lacmt" runat="server" Width="200px" NavigateUrl="~/StatePages/ReportViewer_VacStorage_Morethan_1_Lac_mt.aspx">Vacant Storage Capacity More than 1 LacMT</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink54" runat="server" Width="200px" NavigateUrl="~/IssueCenterLevel/Storage/New_Storage_Capacity_Reports.aspx">New Storage Capacity Reports</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink60" runat="server" Width="200px" NavigateUrl="~/IssueCenterLevel/Storage/BillingReports_New.aspx">New Billing Reports</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink53" runat="server" Width="200px" NavigateUrl="~/StatePages/Update_Currect_Storage_Bill_With_RentBill.aspx">Update Currect SC Bill In Deductions</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink62" runat="server" Width="200px" NavigateUrl="~/StatePages/UpdateGodownDetailsByBM.aspx">Update Godown Lat long Details</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink63" runat="server" Width="200px" Target="_blank" NavigateUrl="~/Reports/NewStorageCapacityReport/Rpt_Godown_Wise_Qty_Available_Last_10_Year.aspx">New Storage Capacity Multi selected Reports</asp:HyperLink>
                                                </div>

                                                <div id="divMasters" runat="server" visible="true" style="width: 200px">
                                                    <span id="spanMasters" visible="false" runat="server">Masters</span>
                                                    <asp:HyperLink ID="hypSearchgodown" Visible="False" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/godowncheck.aspx">Search Godown</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink57" Visible="False" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/GodownCheckByName.aspx">Search Godown by Name</asp:HyperLink>
                                                    <asp:HyperLink ID="hypSearchStock" Visible="True" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Check_Godown_Status_For_All.aspx">Search Stock</asp:HyperLink>
                                                    <asp:HyperLink ID="hypBillStatusTracking" Visible="False" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/BillStatusTracking.aspx">Search Bill Detail</asp:HyperLink>
                                                    <asp:HyperLink ID="HypBlalckListGodownCheck" Visible="False" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/BlalckListGodownCheck.aspx">Block Godown Detail</asp:HyperLink>
                                                    <asp:HyperLink ID="HypUpdateRegistration" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Update_Registration_ID.aspx">Update Registration ID</asp:HyperLink>
                                                    <asp:HyperLink ID="hypCommodityMaster" Visible="False" runat="server" Width="200px"
                                                        NavigateUrl="~/Masters/Commoditymaster.aspx">Commodity Master</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnkratemaster" Visible="False" runat="server" Width="200px" NavigateUrl="~/Masters/RateMaster.aspx">Rate Master</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnktaxmaster" Visible="False" runat="server" Width="200px" NavigateUrl="~/Masters/TaxMaster.aspx">GST Master</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnbranchmaster" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/AddBranch.aspx">Branch Master</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink2" Visible="False" runat="server" Width="200px" NavigateUrl="~/Accounting/frmStorage_Rate.aspx">Rate Master</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink4" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/AddGodown.aspx">Godown Master</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink7" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/PurchaseRateMaster.aspx">Purchase Rate Master</asp:HyperLink>

                                                    <asp:HyperLink ID="HyperLink3" Visible="False" runat="server" Width="200px" NavigateUrl="~/Accounting/frm_Edit_Storage_Rate.aspx">Edit Rate Master</asp:HyperLink>
                                                    <asp:HyperLink ID="hlwhrreset" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/WHRReset.aspx">Whr Print Reset</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink6" Visible="False" runat="server" Width="200px" NavigateUrl="~/Reports/States/Geolocationwisecapacity.aspx">Set Geolocation</asp:HyperLink>
                                                    <%--<asp:HyperLink ID="hlngodownmaster" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/AddGodown.aspx">Godown Master</asp:HyperLink>--%>
                                                    <asp:HyperLink ID="HlnPvtLogin" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/CreatePvtGodownLogin.aspx">Create Pvt Godown Login</asp:HyperLink>
                                                    <asp:HyperLink ID="HlnPMSLogin" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/Create_PMS_Login.aspx">Create PMS Godown Login</asp:HyperLink>
                                                    <asp:HyperLink ID="Prmhrplink" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/UpdatePremisesGdwn.aspx">Premises Godown Master </asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink21" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/VerifyGodown.aspx">Active/Verify Godown ID</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink22" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/updatelicnodate.aspx">Update Godown Details</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink23" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/ViewLicenceNo.aspx">Insert New Licence(Inspection)</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink64" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/UpdateLicenceDetails.aspx">Inspection Licence Update</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink24" Visible="False" runat="server" Width="200px" NavigateUrl="~/StatePages/UpdateJVSRegID_WHMSLogin.aspx">Update Agreement Capacity</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink48" runat="server" Width="200px" NavigateUrl="~/StatePages/UpdateDepositerNameinWHR.aspx">Update Depositer Name In Whr</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink56" runat="server" Width="200px" NavigateUrl="~/StatePages/Update_Ac_Note.aspx">Update Acceptance</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink61" runat="server" Width="200px" NavigateUrl="~/StatePages/Update_Financial_Year.aspx">Update Financial Year In Bill</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink33" runat="server" Width="200px" NavigateUrl="~/Masters/Rpt_Premices_Details.aspx">Remove/View Premices Godowns</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink34" runat="server" Width="200px" NavigateUrl="~/Masters/Not_Entry_in_Warehouse_Details.aspx">Update Premicces Godowns For Mapping  </asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink37" runat="server" Width="200px" NavigateUrl="~/Masters/Region_District_Branch_Wise_Warehouse_Details.aspx">Region District Branch Wise Warehouse Details</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink39" runat="server" Width="200px" NavigateUrl="~/StatePages/InsertGodowninGodown18FromGodown.aspx">Insert godown 2018 table from godown table</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink41" runat="server" Width="200px" NavigateUrl="~/Reports/States/Rpt_Get_WHR_Pendency_Duration_of_StockPosition.aspx">Whr Pendency Duration Of Stock Position</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink45" runat="server" Width="200px" NavigateUrl="~/StatePages/Rpt_Get_WHR_Pendency_Duration_of_StockPosition_More_then_2_Years.aspx">Rpt WHR Pendency Duration of Stock Position More Then 2 Years</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink46" runat="server" Width="200px" NavigateUrl="~/StatePages/Date_wise_Commodity_wise_Stock_Position.aspx">Date Wise District Wise Stok Position</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink47" runat="server" Width="200px" NavigateUrl="~/StatePages/Date_wise_CropYear_Wise_Commodity_wise_Stock_Position.aspx">Date Wise Crop Year District Wise Stok Position</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink42" runat="server" Width="200px" NavigateUrl="~/Masters/Rpt_Premices_Details_Count.aspx">Premicess Report</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink30" runat="server" Width="200px" NavigateUrl="~/StatePages/GodownCapForState.aspx">View All Godown Capacity</asp:HyperLink>
                                                </div>
                                                <div id="divEWHR" runat="server" visible="false" style="width: 200px">
                                                    <span id="Span1" visible="false" runat="server">E WHR</span>
                                                    <asp:HyperLink ID="hplDelDSC" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/E_WHR/Delete_Uploaded_DSC.aspx"> Delete Uploaded DSC</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink40" runat="server" Width="200px" NavigateUrl="~/StatePages/updatestackindatainwhr.aspx">Search Whr No </asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink59" runat="server" Width="200px" NavigateUrl="~/StatePages/Closing_Date_Wise_Get_Data.aspx">Get Data Fro Inspection</asp:HyperLink>
                                                </div>

                                                <div id="div_Delete" runat="server" visible="false" style="width: 200px">
                                                    <span id="spn_delte" visible="false" runat="server">Delete Operations</span>
                                                    <asp:HyperLink ID="hlnkDeleteOprtrWhr" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/Region/DelBranchWHR.aspx"> Delete WHR</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnkDeleteOprtrWhrDSC" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Delete_Dsc_On_WHR.aspx"> Delete WHR DSC</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnk_Delete_Open_Balance" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/Region/Delete_Opening_Balance.aspx">Delete Opening Balance</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnkdeletereceipt" runat="server" Width="200px" NavigateUrl="~/Region/Delete_Receipt_Details.aspx"
                                                        Visible="false">Delete Receipt Details</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnk_DeleteDO" runat="server" Width="200px" NavigateUrl="~/Region/DeleteDeliveryOrder.aspx"
                                                        Visible="false">Delete Delivery Order</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnk_Delete_GP" runat="server" Width="200px" NavigateUrl="~/Region/Delete_Delivery_Gatepass.aspx"
                                                        Visible="false">Delete Delivery GatePass</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnkupgatepass" runat="server" Width="200px" NavigateUrl="~/Region/UpdateGatepass.aspx"
                                                        Visible="false">Update GatePass</asp:HyperLink>
                                                    <asp:HyperLink ID="hlnkserchdo" runat="server" Width="200px" NavigateUrl="~/Region/Search_do.aspx"
                                                        Visible="false">Search DO</asp:HyperLink>
                                                    <asp:HyperLink ID="hldeletereq" runat="server" Width="200px" NavigateUrl="~/StatePages/DeleteRequests.aspx"
                                                        Visible="false">Delete Requests</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink5" runat="server" Width="200px" NavigateUrl="~/Accounting/frm_DelStorage_Charges_Bill.aspx"
                                                        Visible="false">Delete Bill Details</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink12" runat="server" Width="200px" NavigateUrl="~/Accounting/DeleteCommodityLossDetail.aspx"
                                                        Visible="true">Delete Commodity Loss</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink11" runat="server" Width="200px" NavigateUrl="~/Accounting/frm_Delete_Institution_Storage_Bill_Summary.aspx"
                                                        Visible="true">Delete Final Bill</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink13" runat="server" Width="200px" NavigateUrl="~/StatePages/UpdateCropYear.aspx"
                                                        Visible="true">Update Crop Year</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink25" runat="server" Width="200px" NavigateUrl="~/StatePages/Delete_Godown_Rent_Deduction_Amount.aspx"
                                                        Visible="true">Delete Katotra</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink26" runat="server" Width="200px" NavigateUrl="~/StatePages/DeleteAcceptanceNote.aspx"
                                                        Visible="true">Delete Acceptance Note</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink29" runat="server" Width="200px" NavigateUrl="~/StatePages/AddDltGodown.aspx"
                                                        Visible="true">Delete Un_used Godown </asp:HyperLink>

                                                    <asp:HyperLink ID="HyperLink31" runat="server" Width="200px" NavigateUrl="~/StatePages/UpdateFlag_N_to_Y_in_Godown.aspx"
                                                        Visible="true">Update Godown N/Y and Y/N</asp:HyperLink>


                                                    <asp:HyperLink ID="HyperLink32" runat="server" Width="200px" NavigateUrl="~/StatePages/Rpt_Branch_Wise_Commodity_Wise_Stock_Position.aspx"
                                                        Visible="true">Branch Commodity Wise Stock Position</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink43" runat="server" Width="200px" NavigateUrl="~/StatePages/DeletePassingOrder.aspx"
                                                        Visible="true">Delete Passing Order</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink44" runat="server" Width="200px" NavigateUrl="~/StatePages/TruckChitChek_Aepds.aspx"
                                                        Visible="true">Check AEPDS Status </asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink55" runat="server" Width="200px" NavigateUrl="~/StatePages/Delete_Received_Acceptance_in_Storage_Table.aspx"
                                                        Visible="true">Delete Received Acceptance </asp:HyperLink>
                                                </div>
                                                <div id="divReports" runat="server" visible="false" style="width: 200px">
                                                    <span id="spanReports" visible="false" runat="server">Reports</span>
                                                    <asp:HyperLink ID="hypDepotReports" Visible="False" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Reports.aspx">Branch Reports</asp:HyperLink>
                                                    <asp:HyperLink ID="hypRegionReports" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Reports_District.aspx">Region Reports</asp:HyperLink>
                                                    <asp:HyperLink ID="hypStateReports" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/IssueCenterLevel/Storage/Report_Region.aspx">State Reports</asp:HyperLink>
                                                    <asp:HyperLink ID="hypStockreport" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/Principle_Secretary/Stock_Report_For_PS.aspx">Stock Reports</asp:HyperLink>
                                                    <asp:HyperLink ID="Hypstaterpt" Visible="false" runat="server" Width="200px"
                                                        NavigateUrl="~/Reports/States/StateReports.aspx">Reports</asp:HyperLink>
                                                    <%--      <a href="/Warehouse/Reports/States/Rpt_Delete_Uploaded_DSC.aspx">Deleted DSC Report</a>
                                              <a href="/Warehouse/Reports/States/Rpt_Delete_WHR.aspx">Deleted WHR Report</a>
                                              <a href="/Warehouse/Reports/States/Rpt_Delete_Delivery_Order.aspx">Deleted DO Report</a>
                                              <a href="/Warehouse/Reports/States/Rpt_Delete_Storage_Charges_Bill.aspx">Deleted Bill Report</a>
											  <a href="/Warehouse/Reports/States/frm_Deleted_Final_Bill.aspx">Final Bill Deleted Report</a>
                                              <a href="../StatePages/Download_RO_EPF.aspx">Delete/Download EPO</a>--%>
                                                </div>
                                                                                               <div id="divDeduction" runat="server" visible="true" style="width: 200px">
                                                    <span id="Span4" visible="true" runat="server">Deduction Reports</span>
                                                    <asp:HyperLink ID="HyperLink49" Visible="true" runat="server" Width="200px"
                                                        NavigateUrl="~/StatePages/Rpt_Deduction_11_12_Prapatra_From_BM.aspx" Target="_blank"> BM Deduction From Paragraph 11,12</asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink50" Target="_blank" runat="server" Width="200px" NavigateUrl="~/StatePages/Rpt_Deduction_11_12_Prapatra_From_RM.aspx">RM Deduction From Paragraph 11,12 </asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink52" Target="_blank" runat="server" Width="200px" NavigateUrl="~/StatePages/Rpt_UpdatedLatLongDistrictWise.aspx">Update Lat Long Report </asp:HyperLink>
                                                    <asp:HyperLink ID="HyperLink51" Target="_blank" runat="server" Width="200px" NavigateUrl="~/StatePages/Black_List_Godown_List_Report_Region_Wise.aspx">Black List Details </asp:HyperLink>

                                                </div>
                                            </div>
                                        </td>
                                        <td valign="top" colspan="2" align="left">
                                            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                                            </asp:ContentPlaceHolder>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <fieldset style="width: 100%; border: 1px solid navy;">
                            <div style="box-shadow: 1px 2px 10px">
                                <table style="width: 100%; height: 50px">
                                    <tr>
                                        <td style="width: 20%" align="center">
                                            <a href="http://www.mp.nic.in/">
                                                <img src="../images/NIC-logo.png" width="200px" height="50px" alt="" />
                                            </a>
                                        </td>
                                        <td style="width: 1%" align="center">
                                            <img id="Img1" src="../images/Linevertical.png" style="width: 20px; height: 50px"
                                                alt="" />
                                        </td>
                                        <td style="color: Navy; font-size: 8pt; width: 58%;" align="center">
                                            <b>© 2011 &nbsp;National Informatics Centre.All Rights Reserved
                                            <br />
                                                Developed By : National Informatics Centre
                                            <br />
                                                Madhya Pradesh, Ministry of Communications and Information Technology</b>
                                        </td>
                                        <td style="width: 1%" align="center">
                                            <img id="Logo" src="../images/Linevertical.png" style="width: 20px; height: 50px"
                                                alt="" />
                                        </td>
                                        <td style="width: 20%" align="center">
                                            <a href="http://india.gov.in/">
                                                <img src="../images/logo_en.png" width="200px" height="50px" alt="" />
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
