<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Admin.master.cs" Inherits="CapHiringScheme_AdminDashboard_Admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboard</title>

   <!-- CSS -->

      <!-- bootstrap -->
      <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap-datepicker.css">

      <!-- font awesome -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

      <link href="../assets/css/dashboard.css" rel="stylesheet">
      <link href="../assets/css/style.css" rel="stylesheet">
      <link href="../assets/css/customize.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--/ CSS -->

    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
  
</head>
<body>
    <form id="form1"  runat="server">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="border-bottom:1px solid #e7e7e7 !important;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Default.aspx">
                    <img src="../assets/img/logo_with_text.png" class="img-responsive" style="width:220px;" />
                </a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li><i>Welcome <asp:Literal ID="litUser" runat="server"></asp:Literal> , <asp:Literal ID="litScope" runat="server"></asp:Literal> </i></li>
                <li><asp:LinkButton ID="lbtnLogout" OnClick="lbtnLogout_Click" class="red" runat="server" 
                       ><i class="fa fa-power-off" aria-hidden="true"></i> Logout</asp:LinkButton></li>
                

            </ul>
            <!-- /.navbar-top-links -->


            <div class="sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" >
                        <li><a href="Default.aspx">Dashboard</a></li>
                        <li><a href="RegisteredMillerList.aspx">Registered Millers</a></li>
                        <li><a href="CapRequestList.aspx">Cap Request</a></li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <asp:ContentPlaceHolder ID="body" runat="server">
            
        </asp:ContentPlaceHolder>
        
    </div>

   
   </form>
    <!-- Java Script -->

    <script type="text/javascript" src="../assets/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../assets/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="../assets/js/metisMenu.min.js"></script>
    <script type="text/javascript" src="../assets/js/dashboard.js"></script>
    <script type="text/javascript" src="../assets/js/custom.js"></script>
 
 
    <asp:ContentPlaceHolder ID="script" runat="server">
            
    </asp:ContentPlaceHolder>
        
   

   <!-- /Java Script -->
</body>
</html>
