USE [Intergrated_MP_STORAGE]
GO
/****** Object:  StoredProcedure [dbo].[Delete_Acceptence_Note]    Script Date: 22-12-2020 15:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,> 
-- Description:	<Description,,>
--exec dbo.Delete_Acceptence_Note '20110400500500007'
-- =============================================
Create PROCEDURE [dbo].[Delete_Acceptence_Note] 
@Acceptance_No VARCHAR(70),
@IPAddress VARCHAR(36)
AS
BEGIN


	BEGIN TRY

		
		INSERT INTO [dbo].[Receive_Proc_Kharif2020_Log](
			[DF_Receipt_Id]
			,[Distt_ID]
			,[IssueCenter_ID]
			,[Purchase_Center]
			,[Dispatch_Date]
			,[TC_Number]
			,[Truck_Number]
			,[Commodity_Id]
			,[Crop_Year]
			,[No_of_Bags]
			,[Acceptance_No]
			,[Acceptance_Date]
			,[Godown]
			,[IssueId]
			,[Branch_Id]
			,[TaulParchi]
			,[Weighbridge_ID]
			,[Weighbridge_TaulParchi]
			,[Weighbridge_Qty]
			,[Created_Date]
			,[IP_Address]
			,[Rec_Qty]
			,[Depositor_Form_No]
			,[Moisture]
			,[Book_No]
			,[Aid]
			,[WLC_Bags]
			,[WLC_Qty]
			,[Deleted_Date]
			,[Deleted_By]
			)
		SELECT 
			[DF_Receipt_Id]
			,[Distt_ID]
			,[IssueCenter_ID]
			,[Purchase_Center]
			,[Dispatch_Date]
			,[TC_Number]
			,[Truck_Number]
			,K.[Commodity_Id]
			,[Crop_Year]
			,[No_of_Bags]
			,[Acceptance_No]
			,[Acceptance_Date]
			,[Godown]
			,K.[IssueId]
			,[Branch_Id]
			,[TaulParchi]
			,[Weighbridge_ID]
			,[Weighbridge_TaulParchi]
			,[Weighbridge_Qty]
			,[Created_Date]
			,[IP_Address]
			,[Rec_Qty]
			,[Depositor_Form_No]
			,[Moisture]
			,[Book_No]
			,[Aid]
			,[WLC_Bags]
			,[WLC_Qty]
			,GETDATE()
			,@IPAddress 
		FROM [dbo].[Receive_Proc_Kharif2020] K
		WHERE Acceptance_No=@Acceptance_No

		DELETE K 
		FROM [dbo].[Receive_Proc_Kharif2020] K
		WHERE Acceptance_No=@Acceptance_No

	END TRY
	BEGIN CATCH

	END CATCH
END
