<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Inspection_Officer.master.cs" Inherits="Masters_Inspection_Officer" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MP Warehouse Online Inspection System</title>

    <style type="text/css">
        header, nav, section, article, aside, footer {
            display: block;
        }
    </style>
    <%--Changes on 12-05-2026--%>
    <style>
        /* 1. Hide the top Google Translate frame/banner */
        .goog-te-banner-frame.skiptranslate, .goog-te-gadget-icon {
            display: none !important;
        }

        body {
            top: 0px !important;
        }

        /* 2. Hide the Google logo and branding in the dropdown */
        .goog-te-gadget {
            font-family: 'Arial', sans-serif !important;
            color: transparent !important; /* Hides the "Powered by" text */
        }

            .goog-te-gadget .goog-te-combo {
                color: #333 !important; /* Keeps the dropdown text visible */
                padding: 8px;
                border-radius: 5px;
                border: 1px solid #ccc;
                background-color: #fff;
            }

        /* 3. Remove the tooltip popups when hovering over translated text */
        #goog-gt-tt, .goog-te-balloon-frame {
            display: none !important;
        }

        .goog-text-highlight {
            background: none !important;
            box-shadow: none !important;
        }
    </style>
    <style>
        /* Dropdown ke andar ke text ko hamesha readable rakhne ke liye */
        .goog-te-combo {
            text-transform: none !important;
        }
        /* Targeted fix for the iframe class you mentioned */
        .VIpgJd-ZVi9od-ORHb-OEVmcd,
        .goog-te-banner-frame,
        #goog-gt-tt,
        .goog-te-balloon-frame,
        #\:2\.container {
            display: none !important;
            visibility: hidden !important;
        }

        /* Prevent the page from shifting down */
        body {
            top: 0px !important;
        }

        /* Remove the hover highlight effect */
        .goog-text-highlight {
            background: none !important;
            box-shadow: none !important;
        }
    </style>
    <%--END--%>

    <!--[if lt IE 9]>
   <script>
      document.createElement('header');
      document.createElement('nav');
      document.createElement('section');
      document.createElement('article');
      document.createElement('aside');
      document.createElement('footer');
   </script>
<![endif]-->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

    <!-- font awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/custome.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="../CSS/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        ul {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .clear {
            clear: both;
        }

        .wrap {
            width: 1200;
            margin: auto;
        }

        .navtop {
            /*background: #333;*/
            height: 30px;
            color: #fff;
        }

            .navtop > ul {
                position: relative;
                z-index: 1;
            }

                .navtop > ul > li {
                    float: left;
                    border-left: 1px solid #fff;
                }

            .navtop ul li a {
                display: block;
                padding: 10px 20px;
                color: #ccc;
            }

                .navtop ul li a:hover {
                    background: #1e364a;
                    color: #fff;
                }

            .navtop ul li:first-child {
                border: none;
            }

            .navtop > ul > li:hover > ul {
                display: block;
            }

            .navtop > ul > li > ul > li:hover ul {
                display: block;
            }

            .navtop > ul > li > ul li {
                height: 41px;
            }

            .navtop > ul > li > ul {
                display: none;
                position: absolute;
                background: #333;
            }

                .navtop > ul > li > ul > li > ul {
                    display: none;
                    position: relative;
                    left: 132px;
                    top: -41px;
                    background: #333;
                }

            .navtop ul ul li {
                border-top: 1px solid #fff;
            }
    </style>
    <style type="text/css">
        #popupwin {
            position: fixed;
            top: 0;
            left: 0;
            width: 90%;
            height: 90%;
            background-color: #000;
            filter: alpha(opacity=65);
            -moz-opacity: 0.7;
            display: none;
            opacity: 0.7;
            z-index: 100;
        }

        .pop a {
            text-decoration: none;
        }

        .popup {
            width: 100%;
            height: 98%;
            margin: 0 auto;
            position: fixed;
            z-index: 101;
        }

        .pop {
            /*min-width: 900px;*/
            width: 80%;
            min-height: 150px;
            margin: 0px auto;
            background: #FFFFFF;
            position: relative;
            z-index: 103;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 5px 10px #000;
            /*margin-top:200px;*/
        }

            .pop p {
                color: #555555;
                text-align: justify;
                font-size: medium;
            }

                .pop p a {
                    color: #d91900;
                }

            .pop .x {
                float: right;
                height: 35px;
                left: 22px;
                position: relative;
                top: -20px;
                width: 35px;
            }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <cc1:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
        </cc1:ToolkitScriptManager>
        <%-- <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>--%>
        <header>
            <div class="logo_bar">
                <div class="">
                    <img src="../../images/insp.jpg" style="width: 100%" alt="" height="140" />
                </div>
            </div>

        </header>
        <nav class="navbar">
            <asp:Label ID="lblusername" runat="server" Visible="false"></asp:Label>
            <div class="">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Human Resource Management System</a> -->
                </div>


                <div class="">
                    <div class="navtop">
                        <ul>
                            <li><a href="../Inspection_Officer/InspOfficer_ScheduledInspDetail.aspx">Home</a></li>
                            <li><a href="../Inspection_Officer/Godown_Entry_Form.aspx">Get Data</a></li>
                            <li><a href="#"><b class="caret"></b>Fill Annaxures</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Final_Submit_Annaxures.aspx">Fill Annexures</a></li>
                                    <%--<li><a href="../Inspection_Officer/Annaxure_A.aspx">Annaxure A</a></li>
                                    <li><a href="../Inspection_Officer/Annexure_B.aspx">Annaxure B</a></li>--%>
                                    <li><a href="../Inspection_Officer/Update_Annaxures_Inspection_Type.aspx">Update Annaxure B Entry</a></li>
                                    <%--<li><a href="../Inspection_Officer/Annaxure_C.aspx">Annaxure C</a></li>--%>
                                </ul>
                            </li>
                            <%--<li><a href="/Warehouse/Inspections/Inspection_Officer/InspOfficer_ScheduledInspDetail.aspx">View & Print Fill Inspections</a>--%></li>
                           <%-- <li><a href="/Inspections/State/AddNewInspOfficer.aspx">Fill Inspection </a></li>
                            <li><a href="/Inspections/State/ScheduleInspection.aspx">View Filled Annexure B</a></li>--%>
                            <li><a href="#"><b class="caret"></b>Depositer Form</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Fill_Depositer_Form.aspx">Enter Depositer Form Details</a></li>
                                    <li><a href="../Inspection_Officer/Rpt_Fill_Depositer_Form.aspx">Update Depositer Form Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Delivery Form</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Fill_Delevery_Order_Form_Details.aspx">Enter Delivery Order Details</a></li>
                                    <li><a href="../Inspection_Officer/Rpt_Fill_Delevery_Order_Form_Details.aspx">Update Delivery Order Details</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>View Stock</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Owned_Godown_wise_Stock_Details.aspx" target="_blank">View Godown Wise Stock Balance</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>View Gadna Patrak</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Godown_wise_Stock_Details.aspx" target="_blank">View Gadna Patrak</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Truti Patrak</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Branch_Wise_Truti_Patrak.aspx" target="_blank">Fill Truti Patrak</a> </li>
                                    <li><a href="../Inspection_Officer/Branch_Wise_Truti_Patrak_Submit_By_BM.aspx" target="_blank">View Anupalan Fill By BM</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Vie & Print Certificate</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Print_Order.aspx" target="_blank">Vie & Print Certificate</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Finance WHR</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/View_and_Print_Finance_WHR.aspx" target="_blank">Vie & Print Finance WHR</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Dunnage & Dead Stock</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Dead_Stock_Inspection.aspx" target="_blank">Dunnage & Dead Stock Details</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Final Submit</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Final_Submit_Deposite_Delivery_Form.aspx">Depositer Delivery Form Final Submit</a></li>
                                    <%-- <li><a href="../Reports/Final_Submit_Fill_Depositer_Form.aspx">Depositer Form Final Submit</a></li>
                                    <li><a href="../Reports/Final_Submit_Delevery_Order_Form_Details.aspx">Delevery Order Final Submit</a></li>--%>
                                    <%--<li><a href="../Reports/View_Gadna_Patrak_For_Approve.aspx">Gadna Patrak Final Submit</a></li>--%>
                                    <li><a href="../Inspection_Officer/Final_Submit_Gadna_Patrak.aspx">Gadna Patrak Final Submit</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>View & Print Annaxures</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/View_All_Annaxures_Reports.aspx">View All Annaxures</a></li>
                                    <%--<li><a href="../Reports/Rpt_Annaxure_A.aspx">Annaxure A</a></li>--%>
                                    <%--  <li><a href="../Reports/Rpt_Annaxure_A_Godown_Wise.aspx">Annaxure A</a></li>
                                    <li><a href="../Reports/Rpt_Annaxure_B.aspx">Annaxure B</a></li>
                                    <li><a href="../Reports/Rpt_Annaxure_C.aspx">Annaxure C</a></li>--%>
                                    <li><a href="../Inspection_Officer/View_Final_Submit_Gadna_Patrak.aspx">Print Gadna Patrak</a></li>
                                    <li><a href="../Inspection_Officer/View_All_Annaxures_Reports_Branch_Wise.aspx">View Summary Reports</a></li>
                                    <li><a href="../Inspection_Officer/View_Final_Submit_Deposite_Delivery_Form_Details.aspx">View Depositer Delivery Form Details</a></li>
                                    <%-- <li><a href="../Inspection_Officer/View_Annaxures_Branch_Wise_with_Remark.aspx">View Summary Reports</a></li>--%>
                                    <%--<li><a href="../Reports/Rpt_Gadna_Patrak.aspx">Print Gadna Patrak</a></li>--%>
                                </ul>
                            </li>

                            <li><a href="#"><b class="caret"></b>Civil Work</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Fill_Civil_Work.aspx" target="_blank">Civil work</a> </li>
                                </ul>
                            </li>
                            <%--  <li><a href="#"><b class="caret"></b>Reports</a>
                                <ul>
                                    <li><a href="../Reports/Rpt_Fill_Depositer_Form.aspx">View Depositer Form Details</a></li>
                                    <li><a href="../Reports/Rpt_Fill_Delevery_Order_Form_Details.aspx">View Delevery Order Details</a></li>
                                   
                                </ul>
                            </li>--%>
                            <%-- <li><a href="../Inspection_Officer/View_Insp_Report_Annexure_B.aspx" target="_blank">View Annexure B Reports</a> </li>
                                    <li><a href="../Inspection_Officer/Branch_Wise_Truti_Patrak_Submit_By_BM.aspx" target="_blank">Fill Truti Patrak By BM</a> </li>--%>
                            <%--   <li><a href="#"><b class="caret"></b>Change Password</a>
                                <ul>
                                    <li><a href="../Inspection_Officer/Insp_Change_Password.aspx" target="_blank">Change Password</a> </li>
                                </ul>
                            </li>--%>
                            <li><a href="#"><b class="caret"></b>Upload Document</a>
                                <ul>
                                    <%-- <li><a href="../BO/Truti_Anupalan_Prativedan.aspx" target="_blank">Fill Anupalan by BM</a> </li>--%>
                                    <li><a href="../Inspection_Officer/UploadDocuments_New.aspx" target="_blank">Upload Documents</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Godown Open Request</a>
                                <ul>
                                    <%-- <li><a href="../BO/Truti_Anupalan_Prativedan.aspx" target="_blank">Fill Anupalan by BM</a> </li>--%>
                                    <li><a href="../Inspection_Officer/Request_For_Godown_Open_by_Inspection_Officer.aspx" target="_blank">Godown Open Request to rm</a> </li>
                                </ul>
                            </li>
                            <li><a href="#"><b class="caret"></b>Mobile Inspection Report</a>
                                <ul>
                                    <%-- <li><a href="../BO/Truti_Anupalan_Prativedan.aspx" target="_blank">Fill Anupalan by BM</a> </li>--%>
                                    <li><a href="../Inspection_Officer/Inspection_Office_Mobile_Inspection_Summary_Report.aspx" target="_blank">Inspection Report</a> </li>
                                </ul>
                            </li>
                            <li>
                                <asp:LinkButton ID="lb_logout" OnClick="lb_logout_Click"
                                    runat="server" CssClass="dropdown-item">Logout </asp:LinkButton></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <!--Nav Ends-->
                </div>
            </div>
            <!-- /.container-fluid -->
        </nav>
        <table align="center" style="width: 100%;">

            <tr>
                <td colspan="4" style="font-size: medium;">


                    <table style="width: 100%; height: 30px; font-size: medium;">
                        <tr>
                            <td style="background-color: #E6C79D; width: 100PX; font-size: medium; color: #cb4e48; font-weight: bolder;"
                                align="center">
                                <asp:Label ID="lbl_date" runat="server"></asp:Label>
                            </td>
                            <td colspan="2" style="background-color: #D69758; font-size: medium; color: White; width: 100px; font-weight: bolder;" align="center">Welcome&nbsp;<asp:Label ID="lbl_user" runat="server" ForeColor="White"></asp:Label></td>
                            <%--Changes on 12-05-2026--%>
                            <td class="col-md-3 col-sm-6 text-center">
                                <div id="google_translate_element"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <div style="min-height: 400px;">

            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <footer>

            <div class="footer-bottom">
                <div class="container">

                    <p style="text-align: center;">
                        Copyright &copy; 2020 MPWLC - All Rights Reserved | Madhya Pradesh Warehousing and Logistics Corporation
                    </p>

                    <div class="clearfix"></div>
                </div>
            </div>
        </footer>
    </form>


    <!--Java Script -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/custom.js"></script>
    <script src="scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="scripts/jquery.blockUI.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <%--changes On 12-05-2026--%>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                includedLanguages: 'en,hi',
                layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                autoDisplay: false
            }, 'google_translate_element');
        }
        // Dropdown fix ke liye naya logic
        $(window).load(function () {
            // Jab dropdown change ho, toh hum check karenge
            $('.goog-te-combo').on('change', function () {
                var lang = $(this).val();
                // Agar language Hindi select hui hai toh ensure karein ki wo dikhe
                if (lang === 'hi') {
                    console.log("Hindi Selected");
                }
            });

            // Interval check: Kabhi-kabhi Google Translate der se load hota hai
            var checkInterval = setInterval(function () {
                var combo = document.querySelector('.goog-te-combo');
                if (combo) {
                    // Agar cookie mein Hindi saved hai par dropdown me nahi dikh raha
                    var langCookie = document.cookie.split('; ').find(row => row.startsWith('googtrans='));
                    if (langCookie && langCookie.includes('/en/hi')) {
                        combo.value = 'en';
                    }
                    clearInterval(checkInterval);
                }
            }, 500);
        });
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <%--END--%>
</body>
</html>
